header {
    background-color: var(--nes-soft-blue);
    height: 50px;
}

main {
    display: flex;
    justify-content: center;
}

.inner-wrapper {
    padding: 1rem 5rem;
}

table, th {
    border: 1px solid black;
}

th {
    width: 20rem;
    padding: 5px;
}