body {
    background-color: var(--retro-white);
    color: var(--retro-black);
}

main {
    display: flex;
    justify-content: center;
}

.wrapper {
    padding: 1rem 5rem;
    width: 100vw;
}

.flexbox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.search-container {
    border: 3px solid var(--retro-black);
    padding: 2rem;
}

.search-label {
    font-size: 1.4rem;
}

.search-field {
    background-color: var(--retro-white-soft);
    font-family: "Press Start 2P", system-ui;
    display: block;
    margin: 1rem 0;
    padding: 1rem;
    width: 100%;
    border: 2px solid var(--retro-black);
}

.search-field:focus {
    outline: none;
    border-color: var(--primary-btn-background);
    border-radius: 0;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.eight-bit-btn {
    position: relative;
    padding: 1rem 2rem;
    font-family: "Press Start 2P", system-ui;
    color: var(--retro-black);
    border: none;
    -webkit-tap-highlight-color: transparent;
}

.eight-bit-btn:hover {
    cursor: pointer;
}


.eight-bit-btn::after, .eight-bit-btn::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: var(--retro-black);
}

.eight-bit-btn::after {
    left: -2.5%;
    top: 0;
    width: 105%;
    height: 100%;
}

.eight-bit-btn::before {
    left: 0;
    top: -7%;
    width: 100%;
    height: 115%;
}

.btn-primary {
    background-color: var(--primary-btn-background);
    box-shadow: inset -3px -3px 0px 0px var(--primary-btn-shadow);
}

.btn-primary:hover {
    cursor: pointer;
    background-color: var(--primary-btn-hover);
    box-shadow: inset -5px -5px 0px 0px var(--primary-btn-shadow);
}

.btn-primary:active {
    box-shadow: inset 3px 3px 0px 0px var(--primary-btn-shadow);
}

.btn-clear {
    background-color: var(--clear-btn-background);
    box-shadow: inset -3px -3px 0px 0px var(--clear-btn-shadow);
}

.btn-clear:hover {
    cursor: pointer;
    background-color: var(--clear-btn-hover);
    box-shadow: inset -5px -5px 0px 0px var(--clear-btn-shadow);
}

.btn-clear:active {
    box-shadow: inset 3px 3px 0px 0px var(--clear-btn-shadow);
}

.btn-random {
    background-color: var(--random-btn-background);
    box-shadow: inset -3px -3px 0px 0px var(--random-btn-shadow);
}

.btn-random:hover {
    cursor: pointer;
    background-color: var(--random-btn-hover);
    box-shadow: inset -5px -5px 0px 0px var(--random-btn-shadow);
}

.btn-random:active {
    box-shadow: inset 3px 3px 0px 0px var(--random-btn-shadow);
}

.info-table {
    width: 100%;
    border: 3px solid var(--retro-black);
    border-collapse: collapse;
}

table {
    width: 100%;
}

th, td {
    padding: 1rem;
    text-align: left;
    line-height: 1.5;
    border-bottom: 2px solid var(--retro-black);
    border-right: 2px solid var(--retro-black);
}

footer {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0.5rem;
}

@media (max-width: 530px) {
    .wrapper {
        padding: 0.5rem 0.5rem;
    }
}

@media (max-width: 440px) {
    .search-field {
        font-size: 1rem;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--retro-black);
        color: var(--retro-white);
    }

    .search-container {
        border: 3px solid var(--retro-white);
    }

    .search-field {
        border: 2px solid var(--retro-white);
    }

    .eight-bit-btn {
        color: var(--button-text-gray);
    }

    .eight-bit-btn::after, .eight-bit-btn::before {
        background-color: var(--button-edge-gray);
    }

    .info-table {
        border: 3px solid var(--retro-white);
    }

    th, td {
        border-bottom: 2px solid var(--retro-white);
        border-right: 2px solid var(--retro-white);
    }
}